@mixin  btn {
    margin-top: 20px;
    background-color: $blue;
    padding: 8px 16px;
    color: rgb(249, 9, 9);
    border-radius: 5px;
    width: 167px;
    border: 1px solid rgb(255, 5, 5);
}